## Deliverable 2. Create a Customer Travel Destinations Map.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hithadhoo,MV,-0.6000,73.0833,81.36,76,0,12.19,clear sky
1,1,San Jose De Rio Tinto,HN,14.9333,-85.7000,71.10,83,0,3.42,clear sky
2,2,Chuy,UY,-33.6971,-53.4616,66.58,90,0,8.77,clear sky
3,3,Ambilobe,MG,-13.2000,49.0500,72.72,94,99,2.75,overcast clouds
4,4,Dezhou,CN,37.4486,116.2925,37.53,73,0,13.96,clear sky

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 80

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(25)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,San Jose De Rio Tinto,HN,14.9333,-85.7000,71.10,83,0,3.42,clear sky
2,2,Chuy,UY,-33.6971,-53.4616,66.58,90,0,8.77,clear sky
3,3,Ambilobe,MG,-13.2000,49.0500,72.72,94,99,2.75,overcast clouds
5,5,Rikitea,PF,-23.1203,-134.9692,78.78,69,73,10.56,broken clouds
8,8,Cidreira,BR,-30.1811,-50.2056,67.93,75,71,6.02,broken clouds
10,10,Aripuana,BR,-9.1667,-60.6333,72.14,99,100,2.19,overcast clouds
12,12,Manaia,NZ,-39.5500,174.1333,73.00,70,75,8.99,broken clouds
13,13,Rocha,UY,-34.4833,-54.3333,63.48,94,3,4.12,clear sky
15,15,Hobart,AU,-42.8794,147.3294,66.00,63,75,17.27,broken clouds
19,19,Nago,JP,26.5881,127.9761,69.80,88,40,6.91,scattered clouds
22,22,Tambopata,PE,-12.7333,-69.1833,74.12,97,100,2.75,overcast clouds
29,29,Saint-Leu,RE,-21.1500,55.2833,77.00,62,48,1.95,scattered clouds
30,30,Busselton,AU,-33.6500,115.3333,62.01,95,100,1.99,light rain
33,33,Necocli,CO,8.4234,-76.7860,78.96,87,100,7.74,overcast clouds
35,35,Codrington,AU,-38.2667,141.9667,60.40,64,100,12.30,overcast clouds
36,36,Kaitangata,NZ,-46.2817,169.8464,66.00,75,6,8.01,clear sky
40,40,Oistins,BB,13.0667,-59.5333,77.07,78,100,17.34,overcast clouds
41,41,Puerto Ayora,EC,-0.7393,-90.3518,77.00,94,66,6.76,broken clouds
44,44,Walvis Bay,NaN,-22.9575,14.5053,63.00,94,29,5.75,scattered clouds
46,46,New Norfolk,AU,-42.7826,147.0587,66.00,46,39,4.00,scattered clouds
48,48,Broken Hill,AU,-31.9500,141.4333,69.80,52,0,14.97,clear sky
49,49,Amalapuram,IN,16.5833,82.0167,68.00,88,92,9.22,mist
56,56,Atuona,PF,-9.8000,-139.0333,79.99,80,73,18.21,broken clouds
57,57,Caravelas,BR,-17.7125,-39.2481,78.15,86,100,10.42,light rain
58,58,Bluff,NZ,-46.6000,168.3333,61.45,71,0,7.96,clear sky

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                271
City                   271
Country                267
Lat                    271
Lng                    271
Max Temp               271
Humidity               271
Cloudiness             271
Wind Speed             271
Current Description    271
dtype: int64

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

City_ID                267
City                   267
Country                267
Lat                    267
Lng                    267
Max Temp               267
Humidity               267
Cloudiness             267
Wind Speed             267
Current Description    267
dtype: int64

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,San Jose De Rio Tinto,HN,71.10,clear sky,14.9333,-85.7000,
2,Chuy,UY,66.58,clear sky,-33.6971,-53.4616,
3,Ambilobe,MG,72.72,overcast clouds,-13.2000,49.0500,
5,Rikitea,PF,78.78,broken clouds,-23.1203,-134.9692,
8,Cidreira,BR,67.93,broken clouds,-30.1811,-50.2056,
...,...,...,...,...,...,...,...
677,Siguiri,GN,74.44,overcast clouds,11.6667,-9.5000,
678,Richards Bay,ZA,72.79,scattered clouds,-28.7830,32.0377,
682,Zaraza,VE,75.47,overcast clouds,9.3503,-65.3245,
683,Moyale,KE,68.43,overcast clouds,3.5167,39.0584,
684,Warkworth,NZ,77.00,overcast clouds,-36.4000,174.6667,

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping")

Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping

In [12]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,San Jose De Rio Tinto,HN,71.10,clear sky,14.9333,-85.7000,PARQUE ECOTURISTICO QUILIZ
2,Chuy,UY,66.58,clear sky,-33.6971,-53.4616,Nuevo Hotel Plaza
3,Ambilobe,MG,72.72,overcast clouds,-13.2000,49.0500,Hôtel & Restaurant DIANA Ambilobe
5,Rikitea,PF,78.78,broken clouds,-23.1203,-134.9692,Pension Maro'i
8,Cidreira,BR,67.93,broken clouds,-30.1811,-50.2056,Hotel Castelo
...,...,...,...,...,...,...,...
677,Siguiri,GN,74.44,overcast clouds,11.6667,-9.5000,
678,Richards Bay,ZA,72.79,scattered clouds,-28.7830,32.0377,BON Hotel Waterfront Richards Bay
682,Zaraza,VE,75.47,overcast clouds,9.3503,-65.3245,Hotel Zaraza
683,Moyale,KE,68.43,overcast clouds,3.5167,39.0584,La Tahzan Guest House
684,Warkworth,NZ,77.00,overcast clouds,-36.4000,174.6667,Bridge House Lodge Bar & Restaurant

In [13]:
hotel_df.count()

City                   267
Country                267
Max Temp               267
Current Description    267
Lat                    267
Lng                    267
Hotel Name             267
dtype: int64

In [31]:
# 7. Drop the rows where there is no Hotel Name.

hotel_df["Hotel Name"].replace("", np.nan , inplace=True)
hotel_df.dropna(subset = ["Hotel Name"], inplace=True)
clean_hotel_df = hotel_df
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,San Jose De Rio Tinto,HN,71.10,clear sky,14.9333,-85.7000,PARQUE ECOTURISTICO QUILIZ
2,Chuy,UY,66.58,clear sky,-33.6971,-53.4616,Nuevo Hotel Plaza
3,Ambilobe,MG,72.72,overcast clouds,-13.2000,49.0500,Hôtel & Restaurant DIANA Ambilobe
5,Rikitea,PF,78.78,broken clouds,-23.1203,-134.9692,Pension Maro'i
8,Cidreira,BR,67.93,broken clouds,-30.1811,-50.2056,Hotel Castelo

In [26]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [35]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [36]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))